<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="/media/js/jquery.js"></script>             
    {% block scripts %}{% endblock %}
    
    <link rel="stylesheet" href="/media/css/style.css" type="text/css">
	{% block styles %}{% endblock %}
</head>

<body>
    <div id="header"><img src="/media/images/spip_header.jpg" alt="SPIP header image"/></div>
	<div id="container">
    		{% block content %}{% endblock %}
	</div>

	<div id="footer">
		{% block footer %} {% endblock %}
	</div>
	
</body>

</html>
