{% extends "base.html" %}

{% block title %}Solar{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/media/js/livevalidation.js"></script> 
<script type="text/javascript" src="/media/js/jquery.tooltip.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.dimensions.js" ></script>
<script type="text/javascript" src="/media/js/facebox.js"></script>
<script type="text/javascript" src="/media/js/SPIP.js"></script>
{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="/media/css/jquery.tooltip.css" />
<link rel="stylesheet" href="/media/css/facebox.css" type="text/css">
{% endblock %}

{% block content %}

<!-- hidden div about page -->
<div id="about" style="display:none;">
    <p>Solar Panel Installation Planner (SPIP) is a tool created by three <a href="http://cs.hmc.edu">Harvey Mudd College</a> Computer Science students for CS 121, the Software Development class. The project was proposed by Professor Sam Tanenbaum, who oversaw the team during its development in the spring of 2009.</p>
    
	<p>This tool computes the expected rate of return of a solar panel system installation. This is reached by taking into account the expected power output of the system, the average sunlight of the location in which the system is being installed, and the power usage and cost information of the user.</p>
	
    <p>We used several different data sources to do the prediction calculation in this project. A primary source is the NASA-provided historical sunlight database.  We also use <a href="http://hostip.info/">HostIP</a> for IP geolocation services, and ZIP code data from the United States 2000 Census.</p>
    
    <p>This project was completed using the <a href="http://www.djangoproject.com/">Django</a> web framework and a <a href="http://mysql.com/">MySQL database</a>.  We use <a href="http://jquery.com">JQuery</a> and several other Javascript libraries for interface effects.</p>
    
    <p>If you have any questions about this website, please do not hesitate to contact us at hmcsolar2009@gmail.com. Thank you!</p>
</div>

<form action="/calc_payback/" method="POST">
	<h2>
	    <span style="float: left;"><b>Solar 2009</b> - Solar Panel Installation Planner</span>
	    <span id="about_btn"><a href="#about" rel="facebox" style="text-decoration: none">about</a></span> 
	    <br style="clear: both;" />
	</h2>
	
	<h3>Configure Solar Panels</h3>
	<div>
		<table id="system_config">
			<tr valign="middle">
				<th class="label"> 
					{{system_form.peak_power_output.label}}: 
				</th>
				<td>
					{{system_form.peak_power_output}}
				</td>
				<td>
					<img class="help_button" src="/media/images/help_button.png" title="{{system_form.peak_power_output_explanation}}"/> 
				</td>
			</tr>
			<tr>
				<th class="label"> 
					{{system_form.installation_price.label}}: 
				</th>
				<td>
					{{system_form.installation_price}}
				</td>
				<td>
					<img class="help_button" src="/media/images/help_button.png" title="{{system_form.installation_price_explanation}}"/> 
				</td>
			</tr>
		</table>
	</div>

	<h3>Configure Location</h3>
	<div>
		<table id="loc_config">
			<tr> <td colspan="3">We need to know where are you to provide accurate estimates. Please select one of these options for determining your location and fill in the corresponding field.</td> </tr>
			<tr>
				<th><input id="loc_choice_cs" type="radio" name="loc_choice" value="city_state" {% ifequal loc_choice "city_state" %} checked {% endifequal %}></th>
				<td>City/State: {{location_form.city}} {{ location_form.state}}</td>
			</tr>
			<tr>
				<th><input id="loc_choice_zip" type="radio" name="loc_choice" value="zip_code" {% ifequal loc_choice "zip_code" %} checked {% endifequal %} ></th>
				<td>ZIP: {{location_form.zip_code}}</td>
			</tr>
			<tr>
				<th><input id="loc_choice_ll" type="radio" name="loc_choice" value="lat_lng" {% ifequal loc_choice "lat_lng" %} checked {% endifequal %}></th>
				<td>Coordinates: <span class="lat_long">Lat:</span> {{location_form.latitude}} <span class="lat_long">Long:</span> {{location_form.longitude}}</td>
			</tr>
		</table>
	</div>

	<h3>Configure Costs and Pricing</h3>
	<div>
		<table id="cost_config">
			<tr> <td colspan="3"> We can either use averages for power costs and usage in your area, or your own power bill data. </td> </tr>
			<tr>
				<th><input id="costs_choice_avg" type="radio" name="costs_choice" value="averages" {% ifequal costs_choice "averages" %} checked {% endifequal %}></th>
				<td>Use location averages for pricing (less accurate) <img class="help_button" src="/media/images/help_button.png" title="{{costs_form.avg_explanation}}"/> </td>
			</tr>
			<tr>
				<th><input id="costs_choice_spec" type="radio" name="costs_choice" value="specified" {% ifequal costs_choice "specified" %} checked {% endifequal %}></th>
				<td>Input your own power bill data for the last year <img class="help_button" src="/media/images/help_button.png" title="{{costs_form.spec_explanation}}"/></td>
			</tr>
		</table>
		<table id="power_bill">
			<tr>
				<th>Month</th>
				<th>Bill that month ($)</th>
				<th>Energy used (KWh) </th>
			</tr>
			<tr>
				<td>January</td>
				<td>{{costs_form.jan_bill}}</td>
				<td>{{costs_form.jan_usage}}</td>
			</tr>
			<tr>
				<td>February</td>
				<td>{{costs_form.feb_bill}}</td>
				<td>{{costs_form.feb_usage}}</td>
			</tr>
			<tr>
				<td>March</td>
				<td>{{costs_form.mar_bill}}</td>
				<td>{{costs_form.mar_usage}}</td>
			</tr>
			<tr>
				<td>April</td>
				<td>{{costs_form.apr_bill}}</td>
				<td>{{costs_form.apr_usage}}</td>
			</tr>
			<tr>
				<td>May</td>
				<td>{{costs_form.may_bill}}</td>
				<td>{{costs_form.may_usage}}</td>
			</tr>
			<tr>
				<td>June</td>
				<td>{{costs_form.jun_bill}}</td>
				<td>{{costs_form.jun_usage}}</td>
			</tr>
			<tr>
				<td>July</td>
				<td>{{costs_form.jul_bill}}</td>
				<td>{{costs_form.jul_usage}}</td>
			</tr>
			<tr>
				<td>August</td>
				<td>{{costs_form.aug_bill}}</td>
				<td>{{costs_form.aug_usage}}</td>
			</tr>
			<tr>
				<td>September</td>
				<td>{{costs_form.sep_bill}}</td>
				<td>{{costs_form.sep_usage}}</td>
			</tr>
			<tr>
				<td>October</td>
				<td>{{costs_form.oct_bill}}</td>
				<td>{{costs_form.oct_usage}}</td>
			</tr>
			<tr>
				<td>November</td>
				<td>{{costs_form.nov_bill}}</td>
				<td>{{costs_form.nov_usage}}</td>
			</tr>
			<tr>
				<td>December</td>
				<td>{{costs_form.dec_bill}}</td>
				<td>{{costs_form.dec_usage}}</td>
			</tr>
		</table>
	</div>	

	<h3> Advanced <span> <input type="checkbox" id="advanced_control" name="advanced_control" {% if advanced_control %} checked {% endif %}/> (check to activate)</span></h3>
	<div id="advanced">
	    <table>
			<tr>
				<td></td>
				<td></td>
				<td width="50px"></td>
				<td></td>
				<th colspan=2>Tiered pricing <img class="help_button" src="/media/images/help_button.png" title="{{advanced_form.tier_explanation}}"/></th>
			</tr>
	        <tr>
	            <th></th>
	            <th></th>
	            <th></th>
	            <th></th>
	            <th>{{advanced_form.tier_price_label}}</th>
	            <th>{{advanced_form.tier_limit_label}}</th>
	        </tr>
	        <tr>
	            <td> </td>
	            <td></td>
	            <td></td>
	            <td>1</td>
	            <td>{{advanced_form.tier_price_1}}</td>
	            <td>{{advanced_form.tier_limit_1}}</td>
	        </tr>
	        <tr>
	            <th class="label"> {{advanced_form.buyback_price.label}}:</td>
	            <td>{{advanced_form.buyback_price}}</td>
	            <td> <img class="help_button" src="/media/images/help_button.png" title="{{advanced_form.buyback_price_explanation}}"/> </td>
	            <td>2</td>
	            <td>{{advanced_form.tier_price_2}}</td>
	            <td>{{advanced_form.tier_limit_2}}</td>
	        </tr>
	        <tr>
	            <th class="label"> {{advanced_form.inflation_rate.label}}:</td>
	            <td>{{advanced_form.inflation_rate}}</td>
	            <td> <img class="help_button" src="/media/images/help_button.png" title="{{advanced_form.inflation_rate_explanation}}"/></td>
	            <td>3</td>
	            <td>{{advanced_form.tier_price_3}}</td>
	            <td>{{advanced_form.tier_limit_3}}</td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>4</td>
	            <td>{{advanced_form.tier_price_4}}</td>
	            <td>{{advanced_form.tier_limit_4}}</td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>5</td>
	            <td>{{advanced_form.tier_price_5}}</td>
	            <td>{{advanced_form.tier_limit_5}}</td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td>6</td>
	            <td>{{advanced_form.tier_price_6}}</td>
	            <td>{{advanced_form.tier_limit_6}}</td>
	        </tr>
	    </table>
	</div>

	<h3> Finalize </h3>
	<div id="finalize">
		<span style="float: left;"><input type="checkbox" name="save" {{saved_data}}/> Save my data for when I come back (cookies required)</span>
		<span style="float: right;"><input id="submit_btn" type="submit" value="Calculate!" /></span>
		<br style="clear: both;" />
	</div>
</form>
{% endblock %}
