{% extends "base.html" %}
{% block scripts %} 
<script type="text/javascript" src="/media/js/jscharts.js"></script> 
{% endblock %}
{% block title %}Solar: Your answer!{% endblock %}

{% block content %}
<h3>Specified Info</h3>
<div id="spec_info">
	<h4>System information:</h4>
	<p>
		Peak power output: {{peak_power_output}}W <br />
		Installation price: ${{installation_price}}
	</p>
	<h4>Location:</h4>
	<p>
		{% ifequal loc_choice "city_state" %}
		{{city}}, {{state}}<br />
		{% endifequal %}
		
		{% ifequal loc_choice "zip_code" %}
		{{city}}, {{state}} {{zip_code}}<br />
		{% endifequal %}
		
		{% ifequal loc_choice "lat_lng" %}
		{{lat_str}}, {{lng_str}}<br />
		{% endifequal %}
	</p>
</div>

<h3> Results </h3>
<div id="results">
	Energy Savings in One Year: <b>${{savings}}</b> <br />
	Payback Time: <b>{{payback_time}}</b> years <br /> <br />
    {{user_explanation}}
    <br /><br/>
    <div id="chartcontainer">Your browser does not support jschart.</div>
</div>


<script type="text/javascript">
    var myData = new Array( [0,0] {% for yrs, saved in payoff_entries %},[{{yrs}},{{saved}}] {% endfor %}  );
    var myChart = new JSChart('chartcontainer', 'line');
    myChart.setDataArray(myData);
    myChart.setAxisNameX("Time (years)")
    myChart.setAxisNameY("Savings")
    myChart.setAxisPaddingLeft(60)
    myChart.setTitle("Savings over Time")
    myChart.setSize(750,300)
    myChart.draw();
</script>

{% endblock %}

